<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ChocoPicker - Contest Winner Picker </title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet"> 

	<link rel="stylesheet" type="text/css" href="styles.css">

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>

<body>
	<div class="container" ng-app="chocopicker" ng-cloak>
		
		<div class="row" ng-controller="WinnerCtrl as vm">

			<div class="col-md-1">
				<img src="images/snowman-l.png" class="banner-l" />
			</div>

			<div class="col-md-10 text-center main">

				<div class="app">


					<img src="images/chocobelen.png" class="logo">
					
					<h1>{{vm.title}}</h1>
					
					<img src="images/concurso.jpg" class="featured" ng-if="!vm.working"/>

					<div class="col-md-12 winner" ng-if="vm.working">
						<h2>El ganador del Concurso #Chococanto</h2><br/>
						<img ng-if ="!vm.winner.username" src="images/loading.gif" />
						<strong ng-if="vm.winner.username">@{{vm.winner.username}}</strong> <br>
						<img class="emoji" ng-if="vm.winner.username" src="https://media.giphy.com/media/11iZvwSWf1Z3pu/giphy.gif" />
					</div>

					<form class="form-group add-gutter-top" ng-if="!vm.working">
						<button class="btn btn-success btn-lg" ng-disabled="vm.working" ng-click="vm.choose()"> Escoger Ganador </button>
						<button class="btn btn-danger btn-lg" ng-click="vm.reset()"> Reset </button>
					</form>

				</div>



			</div>

			<div class="col-md-1">
				<img src="images/snowman-r.png" class="banner-r" />
			</div>
		
		</div>
	
	</div>
</body>

</html>