.main{
	margin-top: 3%;
}

.app{
    border: 10px solid #cc575d;
    border-radius: 45px;
    padding: 3%;
	margin-bottom: 10%;
}

.banner-l {
	position: absolute;
	width: 350px;
	left: -300px;
	top: 250px;
}
.banner-r {
	position: absolute;
	width: 350px;
	left: 40px;
	top: 250px;	
}

.winner{
	background: #fff;
}

.winner strong {
	font-size: 45px;
	font-weight: bold;
}