body{
	/*background: #fff url('./images/pattern.png');*/
	font-family: 'Aref Ruqaa', serif;
}

.main{
	margin-top: 1%;
}

.app{
    border: 10px solid #cc575d;
    border-radius: 45px;
    padding: 3%;
    height: 798px;
}

.banner-l {
	position: absolute;
	width: 350px;
	left: -300px;
	top: 250px;
}
.banner-r {
	position: absolute;
	width: 350px;
	left: 40px;
	top: 250px;	
}

.winner{
	background: #fff;
	margin-top: 5%;
	margin-bottom: 5%;
}

.featured{
    border-radius: 25px;	
	width: 55%;
	height: 55%;
	margin: 2%;
}

.emoji{
	width: 45%;
	height: 45%;
	margin: 2%;	
}

.winner strong {
	font-size: 45px;
	font-weight: bold;
}